div.card{

  width: 230px;
}

img{
  height:200px;
}

.row{
  margin-left: 3%;
}


.container{
  margin-bottom: 40px;
}

.main{
  background-image: url('http://wallpapercave.com/wp/Zkc7mGk.jpg');
  height: 100vh;
}
