<div class="container">
  <div class="row">
    <div class="input-field col s6">
      <input id="icon_prefix" type="text" class="validate" #newName required="" aria-required="true">
      <label for="icon_prefix">Team name</label>
    </div>
    <div class="input-field col s6">
      <input id="icon_telephone" type="tel" class="validate" #newImgURL required="" aria-required="true">
      <label for="icon_telephone">Img URL</label>
    </div>
    <div class="input-field col s6">
      <input id="icon_telephone" type="tel" class="validate" #newBio required="" aria-required="true">
      <label for="icon_telephone">Team bio</label>
    </div>
  </div>

  <button class="waves-effect waves-light btn" (click)="submitForm(newName.value, newImgURL.value, newBio.value); newName.value ='';newImgURL.value ='';newBio.value ='';">Add</button>
</div>
